{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block content %}



<div class="card mb-3" id="shoppingListTable" data-list='{"valueNames":["shopping_item", "shopping_quantity", "shopping_uom", "shopping_location"], "page":8,"pagination":true}'>
  <div class="card-header">
      <div class="row flex-between-center">
      <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">{% trans "Shopping List" %}</h5>
      </div>
      <div class="col-6 col-sm-auto ms-auto text-end ps-0">
        <div class="d-none" id="table-shopping-list-actions">
          <div class="d-flex">
            <select class="form-select form-select-sm" aria-label="Bulk actions">
              <option selected="">Bulk actions</option>
              <option value="Delete">Delete</option>
              <option value="Archive">Archive</option>
            </select>
            <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
          </div>
        </div>
        <div id="table-shopping-list-replace-element">
          <button class="btn btn-falcon-default btn-sm" type="button">
                    <a href="{% url 'shopping_add' %}">
              <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">{% trans "New" %}</span></a></button>
          <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">{% trans "Filter" %}</span></button>
          <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">{% trans "Export" %}</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body px-0 py-0">
    <div class="table-responsive scrollbar">
      <table class="table table-sm fs--1 mb-0">
        <thead class="bg-200 text-900">
          <tr>
            <th>
              <div class="form-check mb-0 d-flex align-items-center">
                <input class="form-check-input" id="checkbox-bulk-shopping-list-select" type="checkbox" data-bulk-select='{"body":"table-shopping-list-body","actions":"table-shopping-list-actions","replacedElement":"table-shopping-list-replace-element"}' />
              </div>
            </th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="shopping_item">{% trans "Item" %}</th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="shopping_quantity">{% trans "Quantity" %}</th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="shopping_uom">{% trans "Unit of Measure" %}</th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="shopping_location">{% trans "Location" %}</th>
            <th class="no-sort pe-1 align-middle data-table-row-action"></th>
          </tr>
        </thead>
        <tbody class="list" id="table-shopping-list-body">
      {% for item in shopping_list %}
          <tr class="btn-reveal-trigger">
            <td class="align-middle" style="width: 28px;">
              <div class="form-check mb-0 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="recent-purchase-0" data-bulk-select-row="data-bulk-select-row" />
              </div>
            </td>

            <th class="align-middle white-space-nowrap shopping_item">
                    <a href="{% url 'shopping_update' pk=item.id %}">
                        {{ item.item }}</a></th>
            <td class="align-middle white-space-nowrap shopping_quantity">{{ item.quantity }}</td>
            <td class="align-middle white-space-nowrap shopping_uom">{{ item.unit_of_measure.name }}</td>
            <td class="align-middle white-space-nowrap shopping_location">{{ item.location.name }}</td>
            <td class="align-middle white-space-nowrap">
              <div class="dropdown font-sans-serif">
                <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown-{{ item.id }}" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-{{ item.id }}">
                        <a class="dropdown-item" href="{% url 'shopping_update' pk=item.id %}">{% trans "Edit"%}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-warning" href="{% url 'shopping_move' pk=item.id %}">{% trans "Move" %}</a>
                        <a class="dropdown-item text-danger" href="{% url 'shopping_delete' pk=item.id %}">{% trans "Delete" %}</a>
                </div>
              </div>
            </td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="row align-items-center">
      <div class="pagination d-none"></div>
      <div class="col">
        <p class="mb-0 fs--1"><span class="d-none d-sm-inline-block me-2" data-list-info="data-list-info"> </span><span class="d-none d-sm-inline-block me-2">&mdash;  </span><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a></p>
      </div>
      <div class="col-auto d-flex">
        <button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>{% trans "Previous" %}</span></button>
        <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>{% trans "Next" %}</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" id="inventoryTable" data-list='{"valueNames":["inventory_item", "inventory_quantity", "inventory_uom", "inventory_location"],"page":8,"pagination":true}'>
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">{% trans "Inventory" %}</h5>
            </div>
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                <div class="d-none" id="table-inventory-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>
                <div id="table-inventory-replace-element">
                    <button class="btn btn-falcon-default btn-sm" type="button">
                        {% if type == 'inventory' %}
                            <a href="{% url 'inventory_add' %}">
                        {% else %}
                            <a href="{% url 'shopping_add' %}">
                        {% endif %}
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span></a></button>
                    <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button>
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Export</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body px-0 py-0">
        <div class="table-responsive scrollbar">
            <table class="table table-sm fs--1 mb-0">
                <thead class="bg-200 text-900">
                <tr>
                    <th>
                        <div class="form-check mb-0 d-flex align-items-center">
                            <input class="form-check-input" id="checkbox-bulk-inventory-select" type="checkbox" data-bulk-select='{"body":"table-inventory-body","actions":"table-inventory-actions","replacedElement":"table-inventory-replace-element"}' />
                        </div>
                    </th>
                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="inventory_item">{% trans "Item" %}</th>
                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="inventory_quantity">{% trans "Quantity" %}</th>
                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="inventory_uom">{% trans "Unit of Measure" %}</th>
                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="inventory_location">{% trans "Location" %}</th>
                    <th class="no-sort pe-1 align-middle data-table-row-action"></th>
                </tr>
                </thead>
                <tbody class="list" id="table-inventory-body">
                {% for item in inventory %}
                    <tr class="btn-reveal-trigger">
                        <td class="align-middle" style="width: 28px;">
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="recent-purchase-0" data-bulk-select-row="data-bulk-select-row" />
                            </div>
                        </td>

                        <th class="align-middle white-space-nowrap inventory_item">
                                <a href="{% url 'inventory_update' pk=item.id %}">
                            {{ item.item }}</a></th>
                        <td class="align-middle white-space-nowrap inventory_quantity">{{ item.quantity }}</td>
                        <td class="align-middle white-space-nowrap inventory_uom">{{ item.unit_of_measure.name }}</td>
                        <td class="align-middle white-space-nowrap inventory_location">{{ item.location.name }}</td>
                        <td class="align-middle white-space-nowrap">
                            <div class="dropdown font-sans-serif">
                                <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown-{{ item.id }}" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-{{ item.id }}">
                                        <a class="dropdown-item" href="{% url 'inventory_update' pk=item.id %}">{% trans "Edit" %}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-warning" href="{% url 'inventory_move' pk=item.id %}">{% trans "Move" %}</a>
                                        <a class="dropdown-item text-danger" href="{% url 'inventory_delete' pk=item.id %}">{% trans "Delete" %}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row align-items-center">
            <div class="pagination d-none"></div>
            <div class="col">
                <p class="mb-0 fs--1"><span class="d-none d-sm-inline-block me-2" data-list-info="data-list-info"> </span><span class="d-none d-sm-inline-block me-2">&mdash;  </span><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a></p>
            </div>
            <div class="col-auto d-flex">
                <button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>{% trans "Previous" %}</span></button>
                <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>{% trans "Next" %}</span></button>
            </div>
        </div>
    </div>
</div>



{% endblock %}
