{% extends 'index.html' %}
{% load static %}

{% block content %}
    <main class="main" id="top">


      <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6 text-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5"><a class="d-flex flex-center mb-4" href="{% url 'main_page' %}"><img class="mr-2" src="{% static 'img/logos/shepherd_logo.png' %}" alt="" width="58" /><span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block">shepherd</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="display-1 text-300 fs-error">500</div>
                <p class="lead mt-4 text-800 text-sans-serif font-weight-semi-bold">Whoops, something went wrong!</p>
                <hr />
                <p>Try refreshing the page, or going back and attempting the action again. If this problem persists, <a href="mailto:info@exmaple.com">contact us</a>.</p><a class="btn btn-primary btn-sm mt-3" href="{% url 'main_page' %}"><span class="fas fa-home mr-2"></span>Take me home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}