{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="row g-0">
    <div class="col-lg-7 pe-lg-2">
        <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card"
                style="background-image:url(/staticfiles/assets/img/icons/spot-illustrations/corner-4.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Input group</h3>
                        <p class="mb-0">Easily extend form controls by adding text, buttons, or button groups on either
                            side of
                            textual inputs, custom selects, and custom file inputs.</p><a
                            class="btn btn-link btn-sm ps-0 mt-2"
                            href="https://getbootstrap.com/docs/5.1/forms/input-group" target="_blank">Input group on
                            Bootstrap<span class="fas fa-chevron-right ms-1 fs--2"></span></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row g-0">
    <div class="col-lg-9 pe-lg-2">

        <div class="card mb-3">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Basic example</h5>
                        <p class="mb-0 mt-2 mb-0">Place one add-on or button on either side of an input. You may also
                            place one on both sides of an input. Remember to place <code>label</code>'s outside the
                            input group.</p>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light">
                <div class="input-group mb-3 mt-3"><span class="input-group-text"
                        id="inputGroup-sizing-default">Default</span>
                    <input class="form-control" type="text" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" />
                </div>
                <div class="mb-3">
                    <label for="organizerSingle">Single</label>
                    <select class="form-select js-choice" id="organizerSingle" size="1" name="organizerSingle"
                        data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Select organizer...</option>
                        <option>Massachusetts Institute of Technology</option>
                        <option>University of Chicago</option>
                        <option>GSAS Open Labs At Harvard</option>
                        <option>California Institute of Technology </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="organizerSingle">Single</label>
                    <select class="form-select js-choice" id="organizerSingle" size="1" name="organizerSingle"
                        data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Select organizer...</option>
                        <option>Massachusetts Institute of Technology</option>
                        <option>University of Chicago</option>
                        <option>GSAS Open Labs At Harvard</option>
                        <option>California Institute of Technology </option>
                    </select>
                </div>
                <div class="mb-1 mt-3 d-flex justify-content-end">
                    <a class="btn btn-primary mb-1" href="#">Save New Item</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}